.main-container {
  width: 400px;
  margin: 5rem auto;
}
.whitePart {
  background: var(--LightGray);
  height: 250px;
  padding: 2rem 1.5rem;
}
.title {
  color: var(--Cyan);
}
.promo {
  color: var(--BrightYellow);
}
.description {
  color: var(--GrayishBlue);
}
